[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulp = "*"
matplotlib = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
scipy = "*"
mpld3 = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.9"
